[build]
builder = "NIXPACKS"
buildCommand = "PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true npm install"

[phases.setup]
nixPkgs = ["libglib2.0-0", "libgtk-3-0", "libx11-xcb1", "libxcomposite1", "libxcursor1", "libxdamage1", "libxi6", "libxtst6", "libnss3", "libxrandr2", "libasound2", "libpangocairo-1.0-0", "libatk1.0-0", "libcairo-gobject2", "libgdk-pixbuf2.0-0", "chromium"]

[deploy]
startCommand = "node server.js"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 5

[healthcheck]
path = "/"
timeout = 30
